mixin sFaqBlock(data)
	// start sFaqBlock
	+b.SECTION.sFaqBlock.section#sFaqBlock&attributes(attributes)
		.container
			+b.section-title
				h1 Вопросы и ответы
			+e.tabs.tabs
				+e.tabs-caption.tabs__caption
					+e.tabs-btn.tabs__btn.active Окружные хакатоны
					+e.tabs-btn.tabs__btn Всероссийский и международный хакатоны
				+e.tabs-content.tabs__content.active
					+e.tags-slider--js.swiper
						.swiper-wrapper
							mixin slide(text, num)
								+e.tag-slide.swiper-slide
									!= text 
									| 
									span!= num
							//- +slide('Общие вопросы о проекте', '5')
							//- +slide('Общие вопросы об окружных хакатонах', '17')
							//- +slide('Этап “регистрация”', '5')
							//- +slide('О команде и командообразовании', '10')
							//- +slide('Задания на окружные хакатоны', '9')
							//- +slide('Как будут проходить окружные хакатоны', '5')
							//- +slide('Оценка', '7')
							//- +slide('Призы', '5')
							//- +slide('Поддержка участников', '5')
					#articles-district-hackathons
					//- +e.wrap
					//- 	.h2 Общие вопросы о проекте
					//- 	+ddGroup
					//- 		+ddGroupItem('Какие ограничения по уровню подготовки?')
					//- 			+e.wrap
					//- 				p Окружной хакатон&nbsp;&mdash; это часть проекта, представляющая собой ограниченное во&nbsp;времени командное соревнование по&nbsp;созданию прототипов цифровых решений в&nbsp;рамках выбранного для решения командой кейса, более половины участников которого являются жителями определенного федерального округа Российской Федерации. Таких хакатонов в&nbsp;течение 2022 года планируется 8.
					//- 				p Проведение одного окружного мероприятия предполагает представление к&nbsp;решению не&nbsp;менее одного и&nbsp;не&nbsp;более трех кейсовых заданий.
					//- 				p Список и&nbsp;даты проведения окружных хакатонов 
					//- 					a(href="#")  по&nbsp;ссылке.
					//- 		+ddGroupItem('Я могу принять участие в любом мероприятии?')
					//- 			+e.wrap
					//- 				p Окружной хакатон&nbsp;&mdash; это часть проекта, представляющая собой ограниченное во&nbsp;времени командное соревнование по&nbsp;созданию прототипов цифровых решений в&nbsp;рамках выбранного для решения командой кейса, более половины участников которого являются жителями определенного федерального округа Российской Федерации. Таких хакатонов в&nbsp;течение 2022 года планируется 8.
					//- 				p Проведение одного окружного мероприятия предполагает представление к&nbsp;решению не&nbsp;менее одного и&nbsp;не&nbsp;более трех кейсовых заданий.
					//- 				p Список и&nbsp;даты проведения окружных хакатонов 
					//- 					a(href="#")  по&nbsp;ссылке.
					//- 		+ddGroupItem('Где я могу узнать подробности про лекции по ИИ? Как на них попасть?')
					//- 			+e.wrap
					//- 				p Окружной хакатон&nbsp;&mdash; это часть проекта, представляющая собой ограниченное во&nbsp;времени командное соревнование по&nbsp;созданию прототипов цифровых решений в&nbsp;рамках выбранного для решения командой кейса, более половины участников которого являются жителями определенного федерального округа Российской Федерации. Таких хакатонов в&nbsp;течение 2022 года планируется 8.
					//- 				p Проведение одного окружного мероприятия предполагает представление к&nbsp;решению не&nbsp;менее одного и&nbsp;не&nbsp;более трех кейсовых заданий.
					//- 				p Список и&nbsp;даты проведения окружных хакатонов 
					//- 					a(href="#")  по&nbsp;ссылке.
					//- +e.wrap
						.h2 Общие вопросы об окружных хакатонах
						+ddGroup
							+ddGroupItem('Какие ограничения по уровню<br>подготовки?')
								+e.wrap
									p Окружной хакатон&nbsp;&mdash; это часть проекта, представляющая собой ограниченное во&nbsp;времени командное соревнование по&nbsp;созданию прототипов цифровых решений в&nbsp;рамках выбранного для решения командой кейса, более половины участников которого являются жителями определенного федерального округа Российской Федерации. Таких хакатонов в&nbsp;течение 2022 года планируется 8.
									p Проведение одного окружного мероприятия предполагает представление к&nbsp;решению не&nbsp;менее одного и&nbsp;не&nbsp;более трех кейсовых заданий.
									p Список и&nbsp;даты проведения окружных хакатонов 
										a(href="#")  по&nbsp;ссылке.
							+ddGroupItem('Что делать, если я один в городе и не могу найти себе команду?')
								+e.wrap
									p Окружной хакатон&nbsp;&mdash; это часть проекта, представляющая собой ограниченное во&nbsp;времени командное соревнование по&nbsp;созданию прототипов цифровых решений в&nbsp;рамках выбранного для решения командой кейса, более половины участников которого являются жителями определенного федерального округа Российской Федерации. Таких хакатонов в&nbsp;течение 2022 года планируется 8.
									p Проведение одного окружного мероприятия предполагает представление к&nbsp;решению не&nbsp;менее одного и&nbsp;не&nbsp;более трех кейсовых заданий.
									p Список и&nbsp;даты проведения окружных хакатонов 
										a(href="#")  по&nbsp;ссылке.
							+ddGroupItem('Как мне принять участие/подать заявку на участие в окружном хакатоне?')
								ol
									li На&nbsp;сайте проекта https://hacks-ai.ru/ в&nbsp;таймлайне на&nbsp;главной странице выбрать конкретный хакатон (по&nbsp;названию федерального округа), перейти на&nbsp;интересующее мероприятие, после чего нажать кнопку &laquo;зарегистрироваться&raquo;
									li Заполнить анкету со&nbsp;всеми необходимыми полями в&nbsp;личном кабинете, обязательные поля помечены символом &laquo;*&raquo; Важно! Заполняйте свои данные на&nbsp;русском языке без специальных символов и&nbsp;смайлов.
									li Подтвердить регистрацию на&nbsp;сайте мероприятия переходом по&nbsp;ссылке в&nbsp;письме, отправленном на&nbsp;адрес электронной почты, указанный при регистрации
									li Сформировать собственную команду или выбрать свободную команду и&nbsp;присоединиться к&nbsp;ней
									li Выбрать кейс в&nbsp;рамках текущего хакатона
									li Подтвердить свое участие в&nbsp;мероприятии, нажав на&nbsp;кнопку &laquo;Я&nbsp;точно участвую&raquo;
								p Зарегистрироваться, собрать команду/присоединиться к&nbsp;команде, выбрать кейс и&nbsp;подтвердить свое участие необходимо&nbsp;до (за&nbsp;5&nbsp;дней до&nbsp;старта хакатона, однако, даты могут меняться, о&nbsp;чем участники будут дополнительно и&nbsp;своевременно осведомлены):
								+e.table-wrap
									table
										mixin tr(key, val)
											tr
												td!= key
												td!= val
										+tr('Дальневосточный федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Приволжский федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Уральский федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Сибирский федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Северо-Западный федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Южный федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Центральный федеральный округ', 'до 23.59 (МСК) 23 мая')
										+tr('Северо-Кавказский федеральный округ', 'до 23.59 (МСК) 23 мая')
	// end sFaqBlock