include ../../layout/include.pug
include ../../blocks/footer/_footer.pug
include ../../blocks/modal/_modal.pug

+footer()
+modal()
script.
	let  functionNews = getHackPageData(setNews, pageId)  ||  getNews(setNews);

	functionNews();