mixin sGR(data)
	// start sGR
	+b.sGR.section( data-aos="fade-up" data-aos-duration="700")#sGR&attributes(attributes)
		.container
			+e.inner
				.tabs
					.tabs__caption
						.tabs__btn.active Возможности
						.tabs__btn Образование
						.tabs__btn Наука
						.tabs__btn Гранты
						.tabs__btn Работа
					div
						mixin content(t='Возможности развития для участников')
							.tabs__content&attributes(attributes)
								.row
									if block
										block
									else
										.col
											+e.title= t
											+e.link(href="https://ai.gov.ru")
												span Сканируй qr-код и узнай больше
										.col-auto
											a(href="https://ai.gov.ru") 
												img(src="img/qr.png", alt="").bvi-no-styles
						+content().active
						+content()
							.col
								h3.h1 Что вы получаете
								ul
									li Конкурсные программы в Фонде содействия инновациям
									li Включая:
										ul
											li Гранты до 4 млн на создание собственного инновационного предприятия без образования юридического лица
											li Гранты до 10 млн на создание открытой библиотеки в сфере ИИ без образования юридического лица
											li Возможность пройти акселерационные программы и многое другое
											li Возможность обучения на магистерских программах по ИИ в лучших ВУЗах страны БЕСПЛАТНО 
							.col-md-auto.bvi-no-styles
								+img("img/tab-1.svg")
								//- h4 образование
						+content()
							.col
								h3.h1 Наука
								ul
									li Возможность получить новые компетенции в рамках программ дополнительного профессионального образования от Университета 20.35, разработанных в партнерстве с крупнейшими технологическими компаниями страны
									li Возможность участия в работе ведущих исследовательских центров в сфере ИИ
									li Возможность повысить свою конкурентоспособность на рынке труда
							.col-md-auto.bvi-no-styles
								+img("img/tab-2.svg")
								//- h4 наука
						+content()
							.col
								h3.h1 Гранты. Что для этого нужно?
								ul
									li Подать заявку на участие в конкурсной программе
									li Пройти вступительные испытания
									li Возможность повысить свою конкурентоспособность на рынке труда
							.col-md-auto.bvi-no-styles
								+img("img/tab-3.svg")
								//- h4 гранты
						+content()
							.col.align-self-center
								h3.h1.lh-1 Наши партнеры уже<br>ждут тебя!
								br
								a.btn.btn-pink(href="https://ai.gov.ru") Хочу работать
							.col-md-auto.bvi-no-styles
								+img("img/tab-4.svg")
								//- h4 вакансии
	// end sGR