// start .sNews
.sNews {
	--sPT: #{rem(32)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(64)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(40)};
	}
	--slideCount: 1;
	--slideGutter: #{rem(16)};
	@include media-breakpoint-up(sm) {
		--slideCount: 2;
	}
	@include media-breakpoint-up(md) {
		--slideCount: 3;
	}
	@include media-breakpoint-up(xl) {
		--slideCount: 4;
	}
	.default-slider {
		&__slider {
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}
		}
		&__date {
			@include mt;
			margin-bottom: auto;
			display: inline-block;
			color: $pink;
			font-size: rem(12);
			font-weight: 600;
			line-height: 1.33;
			padding: rem(4) rem(10);
			border-radius: 8px;
			background-color: $gray-800;
		}
		&__btn {
			--bs-btn-bg: #{$gray-800};
	
			width: 100%;
			max-width: rem(154);
		}
	}
	&__row {
		align-items: center;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNews

.news-item {
	@include mt;
	@include block(327, 309);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: $gray-700;
	border-radius: 8px;
	padding: rem(16);
	overflow: hidden;
	z-index: 1;
	color: #fff;
	@include media-breakpoint-up(xl) {
		max-width: rem(309);
	}
	h4 {
		margin-bottom: 0;
		margin-top: rem(12);
	}
	img {
		z-index: -2;
	}
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.65), rgba(17, 17, 17, 0.65));
		left: 0;
		top: 0;
		z-index: -1;
	}
	&::after {
		@include mt;
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: transparent;
		z-index: -1;
	}
	&:hover {
		color: $gray-900;
		&::after {
			background-color: $primary;
		}
		.default-slider__date {
			color: $primary;
		}
	}
	&__date {
		@include mt;
		margin-bottom: auto;
		display: inline-block;
		color: $pink;
		font-size: rem(12);
		font-weight: 600;
		line-height: 1.33;
		padding: rem(4) rem(10);
		border-radius: 8px;
		background-color: $gray-800;
	}
	&__btn {
		--bs-btn-bg: #{$gray-800};

		width: 100%;
		max-width: rem(154);
	}
}