mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row
				.col-lg-6
					+e.wrap(data-aos="fade-up" data-aos-duration="700")
						+img('img/svg/headerBlock-img-1.svg')
						h3 Большой спорт<br>для IT-специалистов
						+e.btn.btn.btn-dark(href='https://lk.hacks-ai.ru') Регистрация на хакатон
						img(src="img/svg/headerBlock-img-3.svg", alt="").bg
				.col-lg-6(data-aos="fade-up" data-aos-duration="700")
					+e.img-wrap
						.tech.tech-1 Computer vision
						.tech.tech-2 Edtech
						.tech.tech-3 Machine vision
						.tech.tech-4 AI
						.tech.tech-5 Bigdata
						.tech.tech-6 Deep learning
						.tech.tech-7 Medtech
						.tech.tech-8 Machine learning
						.tech.tech-9 NLP
						.tech.tech-10 Text Recognition
						+img('img/headerBlock-img-2.png').res-i
						
	// end headerBlock
