- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href="libs/aos/aos.css", rel="stylesheet")
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="libs/lottie-web/build/player/lottie.min.js") 
	script(src="libs/aos/aos.js") 
	script(src="libs/hc-sticky/hc-sticky.js") 
	//- script(src=`js/common.js?v=${version}`)
	//-  WIDGETS START
	script(src="//cdn5.helpdeskeddy.com//js/contact-widget.js" id="hde-contact-widget" data-assets-host="//cdn5.helpdeskeddy.com/" data-host="headliner.helpdeskeddy.com" data-lang="ru" defer)  

	<!-- Yandex.Metrika counter -->
	script.
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(80538532, "init", {
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
		}); 
	<noscript><div><img src="https://mc.yandex.ru/watch/80538532" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	//-  WIDGETS END
	script.
		window.hdeContactWidgetCustom = JSON.parse('{"size":"22","position":"bottom-right","direction":"top","bg":"23869B","color":"FFFFFF","buttons":[{"source":"telegram","url":"https://t.me/hacks_ai_bot"},{"source":"chat","bg":"23869B"}]}')
	script(src=`js/common.js`)

