mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+e.wrap
				+b.section-title(data-aos="fade-up" data-aos-duration="700")
					h2 Кейсовые задания
				.row.tabs
					.col-lg.order-lg-2.tabs__content.active
						.innerTabs
							.innerTabs__caption(data-aos="fade-up" data-aos-duration="700")
								.innerTabs__btn.active Описание
								.innerTabs__btn.disabled Результаты
							.innerTabs__content.active
								+e.tags(data-aos="fade-up" data-aos-duration="700")
									+e.tag(href='#') Signs
									+e.tag(href='#') NeuralNetwork
									+e.tag(href='#') Edtech
								p(data-aos="fade-up" data-aos-duration="700") Разработка методологии и&nbsp;прототипа системы, определяющей &laquo;фронтиры&raquo; науки и&nbsp;технологий в&nbsp;целях планирования научных исследований и&nbsp;постановки прорывных задач технологического развития страны
								p(data-aos="fade-up" data-aos-duration="700") В&nbsp;Российской Федерации на&nbsp;постоянной основе поддерживается и&nbsp;развивается научно-техническая деятельность
								p(data-aos="fade-up" data-aos-duration="700") &laquo;Фронтиры&raquo; научно-технического развития&nbsp;&mdash; это наиболее популярные направления исследований, где идёт активное развитие и&nbsp;большое количество прорывов. Точное определение приоритетных направлений (&laquo;фронтиров&raquo;) науки и&nbsp;технологии позволит выделять госфинансирование на&nbsp;темы, которые в&nbsp;наибольшей степени углубят научные знания, принесут пользу экономике и&nbsp;социальной сфере, позволят российским командам исследователей решать задачи &laquo;на&nbsp;опережение&raquo; и&nbsp;выйти на&nbsp;лидирующие позиции в&nbsp;научном мировом сообществе.
								p(data-aos="fade-up" data-aos-duration="700") Основной задачей кейса является определения перечня &laquo;фронтиров&raquo; научно-технологических исследований и&nbsp;прогноз перспективных направлений. В&nbsp;мире уже существует несколько сотен миллионов различных информационных источников/материалов, анализ которых требуется для определения &laquo;фронтиров&raquo;. Решение описанной задачи в&nbsp;настоящее время представляется максимально эффективным на&nbsp;основе передовых ML-технологий.
								+e.director(data-aos="fade-up" data-aos-duration="700")
									+img('img/sber.png')
									div
										span Постановщик задачи
										p Короткое название
							.innerTabs__content 
								+e.tags(data-aos="fade-up" data-aos-duration="700")
									+e.tag(href='#') Edtech
									+e.tag(href='#') NeuralNetwork
									+e.tag(href='#') Signs
								p(data-aos="fade-up" data-aos-duration="700") В&nbsp;Российской Федерации на&nbsp;постоянной основе поддерживается и&nbsp;развивается научно-техническая деятельность
								p(data-aos="fade-up" data-aos-duration="700") Разработка методологии и&nbsp;прототипа системы, определяющей &laquo;фронтиры&raquo; науки и&nbsp;технологий в&nbsp;целях планирования научных исследований и&nbsp;постановки прорывных задач технологического развития страны
								p(data-aos="fade-up" data-aos-duration="700") Основной задачей кейса является определения перечня &laquo;фронтиров&raquo; научно-технологических исследований и&nbsp;прогноз перспективных направлений. В&nbsp;мире уже существует несколько сотен миллионов различных информационных источников/материалов, анализ которых требуется для определения &laquo;фронтиров&raquo;. Решение описанной задачи в&nbsp;настоящее время представляется максимально эффективным на&nbsp;основе передовых ML-технологий.
								p(data-aos="fade-up" data-aos-duration="700") &laquo;Фронтиры&raquo; научно-технического развития&nbsp;&mdash; это наиболее популярные направления исследований, где идёт активное развитие и&nbsp;большое количество прорывов. Точное определение приоритетных направлений (&laquo;фронтиров&raquo;) науки и&nbsp;технологии позволит выделять госфинансирование на&nbsp;темы, которые в&nbsp;наибольшей степени углубят научные знания, принесут пользу экономике и&nbsp;социальной сфере, позволят российским командам исследователей решать задачи &laquo;на&nbsp;опережение&raquo; и&nbsp;выйти на&nbsp;лидирующие позиции в&nbsp;научном мировом сообществе.
								+e.director(data-aos="fade-up" data-aos-duration="700")
									+img('img/sber.png')
									div
										span Постановщик задачи
										p Короткое название
					- for(let i = 0; i < 3; i++)
						.col-lg.order-lg-2.tabs__content
							.innerTabs
								.innerTabs__caption(data-aos="fade-up" data-aos-duration="700")
									.innerTabs__btn.active Описание
									.innerTabs__btn.disabled Результаты
								.innerTabs__content.active
									+e.tags(data-aos="fade-up" data-aos-duration="700")
										+e.tag(href='#') Signs
										+e.tag(href='#') NeuralNetwork
										+e.tag(href='#') Edtech
									p(data-aos="fade-up" data-aos-duration="700") Разработка методологии и&nbsp;прототипа системы, определяющей &laquo;фронтиры&raquo; науки и&nbsp;технологий в&nbsp;целях планирования научных исследований и&nbsp;постановки прорывных задач технологического развития страны
									p(data-aos="fade-up" data-aos-duration="700") В&nbsp;Российской Федерации на&nbsp;постоянной основе поддерживается и&nbsp;развивается научно-техническая деятельность
									p(data-aos="fade-up" data-aos-duration="700") &laquo;Фронтиры&raquo; научно-технического развития&nbsp;&mdash; это наиболее популярные направления исследований, где идёт активное развитие и&nbsp;большое количество прорывов. Точное определение приоритетных направлений (&laquo;фронтиров&raquo;) науки и&nbsp;технологии позволит выделять госфинансирование на&nbsp;темы, которые в&nbsp;наибольшей степени углубят научные знания, принесут пользу экономике и&nbsp;социальной сфере, позволят российским командам исследователей решать задачи &laquo;на&nbsp;опережение&raquo; и&nbsp;выйти на&nbsp;лидирующие позиции в&nbsp;научном мировом сообществе.
									p(data-aos="fade-up" data-aos-duration="700") Основной задачей кейса является определения перечня &laquo;фронтиров&raquo; научно-технологических исследований и&nbsp;прогноз перспективных направлений. В&nbsp;мире уже существует несколько сотен миллионов различных информационных источников/материалов, анализ которых требуется для определения &laquo;фронтиров&raquo;. Решение описанной задачи в&nbsp;настоящее время представляется максимально эффективным на&nbsp;основе передовых ML-технологий.
									+e.director(data-aos="fade-up" data-aos-duration="700")
										+img('img/sber.png')
										div
											span Постановщик задачи
											p Короткое название
								.innerTabs__content 
									+e.tags(data-aos="fade-up" data-aos-duration="700")
										+e.tag(href='#') Edtech
										+e.tag(href='#') NeuralNetwork
										+e.tag(href='#') Signs
									p(data-aos="fade-up" data-aos-duration="700") В&nbsp;Российской Федерации на&nbsp;постоянной основе поддерживается и&nbsp;развивается научно-техническая деятельность
									p(data-aos="fade-up" data-aos-duration="700") Разработка методологии и&nbsp;прототипа системы, определяющей &laquo;фронтиры&raquo; науки и&nbsp;технологий в&nbsp;целях планирования научных исследований и&nbsp;постановки прорывных задач технологического развития страны
									p(data-aos="fade-up" data-aos-duration="700") Основной задачей кейса является определения перечня &laquo;фронтиров&raquo; научно-технологических исследований и&nbsp;прогноз перспективных направлений. В&nbsp;мире уже существует несколько сотен миллионов различных информационных источников/материалов, анализ которых требуется для определения &laquo;фронтиров&raquo;. Решение описанной задачи в&nbsp;настоящее время представляется максимально эффективным на&nbsp;основе передовых ML-технологий.
									p(data-aos="fade-up" data-aos-duration="700") &laquo;Фронтиры&raquo; научно-технического развития&nbsp;&mdash; это наиболее популярные направления исследований, где идёт активное развитие и&nbsp;большое количество прорывов. Точное определение приоритетных направлений (&laquo;фронтиров&raquo;) науки и&nbsp;технологии позволит выделять госфинансирование на&nbsp;темы, которые в&nbsp;наибольшей степени углубят научные знания, принесут пользу экономике и&nbsp;социальной сфере, позволят российским командам исследователей решать задачи &laquo;на&nbsp;опережение&raquo; и&nbsp;выйти на&nbsp;лидирующие позиции в&nbsp;научном мировом сообществе.
									+e.director(data-aos="fade-up" data-aos-duration="700")
										+img('img/sber.png')
										div
											span Постановщик задачи
											p Короткое название
					.col-lg-auto.order-lg-1.tabs__caption
						+e.links(data-aos="fade-up" data-aos-duration="700")
							+e.link.tabs__btn.active
								p Эффективность образовательных программ
								span Рустехнологии
							+e.link.tabs__btn
								p Фронтиры науки
								span СБЕРтехнологии
							+e.link.tabs__btn
								p Фронтиры науки
								span СБЕРтехнологии
							+e.link.tabs__btn
								p Фронтиры науки
								span СБЕРтехнологии
	// end sCases