mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases&attributes(attributes)
		.container
			+e.wrap
				+b.section-title(data-aos="fade-up" data-aos-duration="700")
					h2 Кейсовые задания
				.row.tabs
					.col-lg.order-lg-2(data-aos="fade-up" data-aos-duration="700")
						
					.col-lg-auto.order-lg-1.tabs__caption
						+e.links(data-aos="fade-up" data-aos-duration="700")
							//- +e.link.tabs__btn.active.scroll-link(href='#sCases')
							//- 	p Эффективность образовательных программ
							//- 	span Рустехнологии
							//- +e.link.tabs__btn.scroll-link(href='#sCases')
							//- 	p Фронтиры науки
							//- 	span СБЕРтехнологии
							//- +e.link.tabs__btn.scroll-link(href='#sCases')
							//- 	p Фронтиры науки
							//- 	span СБЕРтехнологии
							//- +e.link.tabs__btn.scroll-link(href='#sCases')
							//- 	p Фронтиры науки
							//- 	span СБЕРтехнологии
	// end sCases