mixin sLargestEvent(data)
	// start sLargestEvent
	+b.SECTION.sLargestEvent.section#sLargestEvent.bg-wrap&attributes(attributes)
		.container
			+e.wrap.bg-wrap(data-aos="fade-up" data-aos-duration="700")
				video.picture-bg(autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" preload="metadata")
					source(src="video/video-bg.mp4" type="video/mp4")
					source(src="video/video-bg.webm" type="video/webm")
				//- +e.img-wrap.picture-bg: +img('img/sLargestEvent-bg-1.jpg', 'bg')
				+e.row.row
					.col
						h2.h1 Самый масштабный проект по&nbsp;искусственному интеллекту в&nbsp;России
					.col-auto
						+img('img/sLargestEvent-img-1.png')
				+e.num-row.row
					mixin item(num, text)
						+e.item
							span!= num
							!= text
					.col-auto
						+item(116, 'хакатонов')
					.col-auto
						+item(35, 'лекций')
					.col-auto
						+item('2021-2022', 'годы проведения ')
					.col-auto.ms-xxl-auto.text-xxl-end
						+item('34 000 000 ', 'призовой фонд')
	// end sLargestEvent