mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.wrap
				.tech.tech-1 AI
				.tech.tech-2 Big Data
				.tech.tech-3 ML
				.tech.tech-4 Computer Vision
				picture
					source(media="(min-width: 992px)", srcset="img/sAbout-bg-1.png")
					img(src="img/sAbout-bg-sm-1.png", alt="").bg
				.row
					.col-lg
						+e.content(data-aos="fade-up" data-aos-duration="700")
							+e.types
								+e.type--1.h4
								+e.type--2.h4
							h1
							h2
							+e.text
							+e.row.row
								.col-auto
									+e.item
										+icon('user-solid')
										div
											p Участников
											.h2.count-attendee
								.col-auto
									+e.item
										+icon('users')
										div
											p Команд
											.h2.count-team
							+e.btn.btn.btn-dark(href='#') Принять участие
					.col-lg-auto
						+e.info-wrap
							+e.date(data-aos="fade-up" data-aos-duration="700") 
							+e.banner(data-aos="fade-up" data-aos-duration="700")
								.h3 24 июня 18:00
								span Дедлайн подачи заявок
	// end sAbout
