extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sDetailedInfo/_sDetailedInfo.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sIthubs/_sIthubs.pug
include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= '_'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+mob-mnu()
	+header()
		+top-nav()
	main
		+sAbout
		#cases-wrap
		+sInfo
		+sVideo
		#parters-wrap
		//- +sCases
		//- +sPartners2
		//- +sDetailedInfo
		+sIthubs
		+sNews('', '', id='sNews','Новости проекта')
		+sPartnersMain
		//- script.
		//- 	getPartnersSections(setPartnersMain);
	+parts('footer')
	script(src="js/hack.js")