extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sDetailedInfo/_sDetailedInfo.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= '_'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sAbout
		#cases-wrap
		#parters-wrap
		//- +sCases
		//- +sPartners2
		//- +sDetailedInfo
		+sVideo
		+sInfo
		+sNews
		+sPartnersMain
		script.
			getPartnersSections(setPartnersMain);
	+parts('footer')
	script(src="js/hack.js")