extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sHackathons/_sHackathons.pug
include ../blocks/sLargestEvent/_sLargestEvent.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sResume/_sResume.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sFaq/_sFaq.pug
include ../blocks/sIthubs/_sIthubs.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sGR/_sGR.pug
include ../blocks/sAmbasadors/_sAmbasadors.pug
include ../blocks/sAQ/_sAQ.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	+headerBlock2
	+sHackathons
	+sLargestEvent
	+sMap
	//- +sResume
	+sGR
	+sNews('', 'Все новости')
		h2 Новости проекта
	//- script.
	//- 	getNews(setNews)
	+sIthubs
	+sFaq
	+sAQ
	+sAmbasadors
	+sPartnersMain
	script.
		function setMainPageBlock(items) {
			setEvents(items);
			setMapStats(items);
			setFAQ(items.faq);
			setNews(items.news);
			setAmbasadors(items.ambassadors);
			setItHubs(items.playgrounds);
		}
		getMainPageData(setMainPageBlock);
		getPartnersSections(setPartnersMain);
	+parts('footer')