mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			+e.grid
				+e.grid-item.bg-wrap(data-aos="fade-up" data-aos-duration="700")
					+e.img-wrap.picture-bg: +img('img/sInfo-img-1.jpg', 'bg').img-avatar
					h2.h1
					p.addr

				+e.grid-item--text(data-aos="fade-up" data-aos-duration="700")
					+e.inner
					a(href="#" data-src='modal-full-text' data-fancybox="modal") Подробнее...
				+e.grid-item.bg-wrap(data-aos="fade-up" data-aos-duration="700").map-img
	// end sInfo