mixin sPartners(data)
	script
		include script.js
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+e.wrap
				+b.section-title(data-aos="fade-up" data-aos-duration="700")
					h2 Организаторы и партнеры
				+e.row.row
					//- mixin item(img, span, text)
					//- 	+e.item(href='#' data-aos="fade-up" data-aos-duration="700")
					//- 		+img(`img/${img}`)
					//- 		span!= span
					//- 		p!= text
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-1.png', 'Информационный партнер')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-1.png', 'Информационный партнер')
					//- .col-sm-6.col-md-4.col-xl-3
					//- 	+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
	// end sPartners

mixin sPartners2(data)
	// start sPartners
	+b.SECTION.sPartners--2.section#sPartners&attributes(attributes)
		.container
			+e.wrap
				+b.section-title(data-aos="fade-up" data-aos-duration="700")
					h2 Партнеры окружного хакатона
				+e.row.row
					mixin item(img, span, text)
						+e.item(href='#' data-aos="fade-up" data-aos-duration="700")
							+img(`img/${img}`)
							span!= span
							p!= text
					.col-sm-6.col-md-4.col-xl-3
						+item('sPartners-img-1.png', 'Информационный партнер')
					.col-sm-6.col-md-4.col-xl-3
						+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					.col-sm-6.col-md-4.col-xl-3
						+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
					.col-sm-6.col-md-4.col-xl-3
						+item('sPartners-img-2.png', 'Соорганизатор', 'Автономная некоммерческая организация, созданная в&nbsp;2018 году по&nbsp;инициативе Президента')
	// end sPartners