mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
		p Меню
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+img('img/svg/logo.svg').main-logo
				.col-auto
					+img('img/svg/logo2.svg')
				.col-auto
					+img('img/svg/logo4.svg')
				.col-auto.p-0.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							//- +menu-toggle()
							//- +mnu()
				.col-12.p-0.m-0.d-sm-none
				.col-auto.ms-md-auto
					+e.wrap
						+menu-toggle()
						+e.link(href='#'): +icon('access')
						+e.link(href='#'): +icon('user')
	// end top-nav