mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="700")
				h2 Вопросы и ответы
			+ddGroup
				+e.row.row
					.col-lg-6(data-aos="fade-up" data-aos-duration="700")
						+ddGroupItem('Какие ограничения по уровню<br>подготовки?')
							p ИИ&nbsp;связан со&nbsp;сходной задачей использования компьютеров для понимания человеческого интеллекта, но&nbsp;не&nbsp;обязательно ограничивается биологически правдоподобными методами.
							p Существующие на&nbsp;сегодня интеллектуальные системы имеют достаточно узкие области применения. Например, программы, способные обыграть человека в&nbsp;шахматы, не&nbsp;могут отвечать на&nbsp;вопросы и&nbsp;т.&nbsp;д.
					.col-lg-6(data-aos="fade-up" data-aos-duration="700")
						+ddGroupItem('Какие ограничения по уровню<br>подготовки?')
							p ИИ&nbsp;связан со&nbsp;сходной задачей использования компьютеров для понимания человеческого интеллекта, но&nbsp;не&nbsp;обязательно ограничивается биологически правдоподобными методами.
							p Существующие на&nbsp;сегодня интеллектуальные системы имеют достаточно узкие области применения. Например, программы, способные обыграть человека в&nbsp;шахматы, не&nbsp;могут отвечать на&nbsp;вопросы и&nbsp;т.&nbsp;д.
					.col-lg-6(data-aos="fade-up" data-aos-duration="700")
						+ddGroupItem('Что делать, если я один в городе и не могу найти себе команду?')
							p ИИ&nbsp;связан со&nbsp;сходной задачей использования компьютеров для понимания человеческого интеллекта, но&nbsp;не&nbsp;обязательно ограничивается биологически правдоподобными методами.
							p Существующие на&nbsp;сегодня интеллектуальные системы имеют достаточно узкие области применения. Например, программы, способные обыграть человека в&nbsp;шахматы, не&nbsp;могут отвечать на&nbsp;вопросы и&nbsp;т.&nbsp;д.
					.col-lg-6(data-aos="fade-up" data-aos-duration="700")
						+ddGroupItem('Предоставите ли вы ноутбук<br>и чай с печеньками?')
							p ИИ&nbsp;связан со&nbsp;сходной задачей использования компьютеров для понимания человеческого интеллекта, но&nbsp;не&nbsp;обязательно ограничивается биологически правдоподобными методами.
							p Существующие на&nbsp;сегодня интеллектуальные системы имеют достаточно узкие области применения. Например, программы, способные обыграть человека в&nbsp;шахматы, не&nbsp;могут отвечать на&nbsp;вопросы и&nbsp;т.&nbsp;д.
					.col-lg-6(data-aos="fade-up" data-aos-duration="700")
						+ddGroupItem('Кто может участвовать в конкурсе?')
							p ИИ&nbsp;связан со&nbsp;сходной задачей использования компьютеров для понимания человеческого интеллекта, но&nbsp;не&nbsp;обязательно ограничивается биологически правдоподобными методами.
							p Существующие на&nbsp;сегодня интеллектуальные системы имеют достаточно узкие области применения. Например, программы, способные обыграть человека в&nbsp;шахматы, не&nbsp;могут отвечать на&nbsp;вопросы и&nbsp;т.&nbsp;д.
					.col-lg-6(data-aos="fade-up" data-aos-duration="700")
						+ddGroupItem('Что делать, если я один в городе и не могу найти себе команду?')
							p ИИ&nbsp;связан со&nbsp;сходной задачей использования компьютеров для понимания человеческого интеллекта, но&nbsp;не&nbsp;обязательно ограничивается биологически правдоподобными методами.
							p Существующие на&nbsp;сегодня интеллектуальные системы имеют достаточно узкие области применения. Например, программы, способные обыграть человека в&nbsp;шахматы, не&nbsp;могут отвечать на&nbsp;вопросы и&nbsp;т.&nbsp;д.
			+e.btn.btn.btn-dark(href='https://hacks-ai.ru/faq' target='_blank' data-aos="fade-up" data-aos-duration="700") Все вопросы
	// end sFaq