// start .sIthubs
.sIthubs {
	--sPT: #{rem(32)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(20)};
	position: relative;
	z-index: 3;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(52)};
		--sPB: #{rem(40)};
		--sTPB: #{rem(40)};
	}
	--slideCount: 1;
	--slideGutter: #{rem(16)};
	@include media-breakpoint-up(sm) {
		--slideCount: 2;
	}
	@include media-breakpoint-up(md) {
		--slideCount: 3;
	}
	@include media-breakpoint-up(xl) {
		--slideCount: 4;
	}
	.default-slider__slide {

		@include media-breakpoint-up(xl) {
			max-width: rem(309);
		}
	}
	.hub-slide{
		height: 100%;
	}
	.hub-slide,
	.default-slider__slide {
		.h4 {
			@include mt;
			margin-bottom: rem(4);
			line-height: 1.27;
			color: #fff;
		}
		&:hover {
			// .h4 {
			// 	color: $primary;
			// }
		}

		img {
			@include block(193, 310);
			border-radius: 8px;
			overflow: hidden;
			margin-bottom: rem(24);
		}
			.default-slider__city {
			font-size: rem(12);
			line-height: 1.83;
			color: rgba($color: #fff, $alpha: .5);
		}
	}
	.default-slider {
		&__slider {
			margin-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}
		}
		
		&__btn {
			--bs-btn-bg: #{$gray-800};
	
			width: 100%;
			max-width: rem(154);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sIthubs