mixin sIthubs(data)
	script
		include script.js
	// start sIthubs
	+b.SECTION.sIthubs.section#sIthubs&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="700")
				h2 IT хабы
			+defaultSlider('Все IT хабы')
				mixin slide(img, title)
					+e.slide.swiper-slide(href='#' data-aos="fade-up" data-aos-duration="700")
						+img(`img/${img}`, 'bg')
						.h4!= title
						+e.city г. Москва
				//- +slide('sIthubs-img-1.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-2.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-3.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-4.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-1.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-2.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-3.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-4.jpg', 'Название ITхаба')
	// end sIthubs
mixin sIthubsPage(data)
	script
		include script.js
	// start sIthubs
	+b.SECTION.sIthubs.section#sIthubs&attributes(attributes)
		.container
			+b.section-title(data-aos="fade-up" data-aos-duration="700")
				h1 IT хабы
			.row.gy-4
				//- +slide('sIthubs-img-1.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-2.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-3.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-4.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-1.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-2.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-3.jpg', 'Название ITхаба')
				//- +slide('sIthubs-img-4.jpg', 'Название ITхаба')
	// end sIthubs