mixin sHackathons(data)
	script
		include script.js
	// start sHackathons
	+b.SECTION.sHackathons.section#sHackathons&attributes(attributes)
		.container
			+e.wrap
				+b.section-title(data-aos="fade-up" data-aos-duration="700")
					h2 8 окружных хакатонов
				+e.row.row
					mixin item(title)
						+e.item&attributes(attributes)
							+e.content
								h5 10 июня - 20 июля
								a(href='#').h3!= title
								+e.city Ярославская обл.
							+e.choose Лиги:
							+e.inner-row.row
								.col-auto
									+e.tag Новички
								.col-auto
									+e.tag Профи
							+icon('check-2')
							+e.dataset(href='#')
								+icon('ai')
								| Dataset
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Хабаровск').done
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Нижний Новгород')
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Екатеринбург').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Томск').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Волгоград').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Санкт-Петербург').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Москва').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Волгоград').disabled
				.row
					.col-lg-6
						+e.item-wrap(style='--bgColor: #03FE33' data-aos="fade-up" data-aos-duration="700")
							span 10 июня - 20 июля
							.h1 Всероссийский хакатон
							+e.place Нижний Новгород
					.col-lg-6
						+e.item-wrap(style='--bgColor: #FF00C7' data-aos="fade-up" data-aos-duration="700")
							span.text-white 10 июня - 20 июля
							.h1.text-white Международный хакатон
							+e.place.text-white Москва
	// end sHackathons