mixin sHackathons(data)
	script
		include script.js
	// start sHackathons
	+b.SECTION.sHackathons.section#sHackathons&attributes(attributes)
		.container
			+e.wrap
				//- +b.section-title(data-aos="fade-up" data-aos-duration="500" )
				//- 	h2 8 окружных хакатонов
				+e.row.row
					.col-lg-6
						+e.item-wrap(href="/hackathons.html?eventId=969091" style='--bgColor: #03FE33' data-aos="fade-up" data-aos-duration="700" data-aos-offset="0")
							.row
								span.col-auto 8 сентября - 10 сентября
								span.col-auto  Нижний Новгород
							.h1 Всероссийский хакатон 
							+e.btn.btn.btn-outline-dark Узнать, как все прошло
					.col-lg-6
						//- href="/hackathons.html?eventId=969092" 
						+e.item-wrap(href="/hackathons.html?eventId=969092" style='--bgColor: #FF00C7' data-aos="fade-up" data-aos-duration="700" data-aos-offset="0")
							.row.text-white
								span.col-auto 23 ноября - 26 ноября
								span.col-auto Москва
							.h1.text-white Международный хакатон 
							+e.btn.btn.btn-dark Регистрируйся на хакатон
							//- +e.text-soon Регистрация скоро откроется
				+e.row.row
					mixin item(title, btn='Узнай больше о хакатоне')
						+e.item&attributes(attributes)
							+e.content
								h5 10 июня - 20 июля
								a(href='https://lk.hacks-ai.ru').h3!= title
								+e.city Ярославская обл.
							+e.choose Лиги:
							+e.inner-row.row
								.col-auto
									+e.tag() Новички
								.col-auto
									+e.tag Профи
							+e.btn.btn.btn-dark(href='#')!= btn
							+icon('check-2')
							+e.dataset(href='#')
								+icon('ai')
								| Dataset
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Хабаровск').done
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Нижний Новгород')
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Екатеринбург').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Томск').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Волгоград').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Санкт-Петербург').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Москва').disabled
					//- .col-sm-6.col-md-4.col-xl-3(data-aos="fade-up" data-aos-duration="700")
					//- 	+item('Волгоград').disabled
							
	// end sHackathons
