mixin sAQ(data)
	// start sAQ
	+b.SECTION.sAQ(data-aos="fade-up" data-aos-duration="700").section.pt-0#sAQ&attributes(attributes)
		.container
			+e.inner
				h2 Остались вопросы?
				p Напиши нам на&nbsp;почту  #[a(href="mailto:hacks-ai@rsv-help.ru") hacks-ai@rsv-help.ru] и&nbsp;скоро мы&nbsp;свяжемся с&nbsp;вами
	// end sAQ